# Copyright 2021 Adam Chalkley
#
# https://github.com/atc0005/dnsc
#
# Licensed under the MIT License. See LICENSE file in the project root for
# full license information.

# Ignore local copy of config file
/config.toml

/release_assets

*.exe

# Ignore local scratch directory contents
/scratch

# Ignore non-Windows executable
/dnsc
